@import '@/scss/mixin';
@import '@/scss/variabel';

@import './media-query/productCount.media-query.scss';

.product_count_container {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	svg {
		size: $icon-medium;
		height: $icon-medium;

		&, path {
			pointer-events: none;
		}
	}

	.product_count_body {
		@include flex-alignitems-justifycontent(center, space-between);
		background-color: $background-color-input-form;
		gap: 1rem;
		overflow: hidden;
		flex-shrink: 0;
		height: fit-content;
		border-radius: 30px;

		p {
			text-align: center;
			width: 1.45rem;
		}

		button {
			@include flex-alignitems-justifycontent(center, center);
			padding: 0.65rem;
			height: 100%;

			&:hover {
				background-color: $background-color-hover-list-item;
			}
		}
	}

	.product_dispatch_button {
		@include flex-alignitems-justifycontent(center, center);
		transition: all $transition-time-very-fast;
		flex-grow: 1;
		border: 1px solid black;
		border-radius: 30px;
		padding: 0.65rem 2rem;
		background-color: black;
		color: white;

		&:hover {
			transition: all $transition-time-very-fast;
			background-color: white;
			color: black;
		}
	}
}
