@import '@/scss/variabel';

.title_default {
  box-shadow: $box-shadow-input;
  border: 1px solid black;
}

.title_notvalid {
  box-shadow: rgba(85, 0, 0, 0.6) 1.95px 1.95px 2.6px;
  border: 1px solid #500;
  color: #500;
}

.title_success {
  box-shadow: rgb(0, 85, 6) 1.95px 1.95px 2.6px;
  border: 1px solid rgb(0, 85, 6);
  color: rgb(0, 85, 6);
}