@import '@/scss/mixin';
@import '@/scss/variabel';

.loader_statistic_container {
  @include flex-alignitems-justifycontent(center, center);
  background-color: $background-color-input-form;
  width: 100%;
  height: 20rem;
  margin-top: 4.2rem;

  .loader_statistic_body {
    @include flex-column-alignitems-justifycontent();
    gap: 0.5rem;
    padding: 4rem;

    .loader_statistic_title_container {
      @include flex-column-alignitems-justifycontent();
      gap: 0.5rem;
      
      .loader_statistic_title {
        @include default-loader-styles();
        @include default-loader-animation();
        max-width: calc(100% - 10px);
        height: 2rem;
        
        &:nth-child(1) {
          width: 20rem;
        }
    
        &:nth-child(2) {
          width: 15rem;
        }
    
        &:nth-child(3) {
          width: 18rem;
        }
      }
    }
  
    .loader_statistic_description_container {
      @include flex-column-alignitems-justifycontent();
      gap: 0.5rem;

      .loader_statistic_description {
        @include default-loader-styles();
        @include default-loader-animation();
        height: 1rem;
        width: 100%;

        &:nth-child(1) {
          width: 15rem;
        }
    
        &:nth-child(2) {
          width: 10rem;
        }
    
        &:nth-child(3) {
          width: 13rem;
        }
      }
    }

    .loader_statistic_counts {
      @include flex-alignitems-justifycontent(center, space-between);
      gap: 0.5rem;

      .loader_statistic_count {
        @include default-loader-styles();
        @include default-loader-animation();
        flex-grow: 1;
        height: 2rem;
      }
    }
  }  
}

@keyframes skeleton-slide {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}