@import '@/scss/variabel';
@import '@/scss/mixin';

@import './media-query/websiteStatistic.media-query.scss';

.website_statistic_container {
  @include flex-alignitems-justifycontent(center, center);
  position: relative;
  background-color: rgba(192, 192, 192, 0.3);
  box-shadow: $box-shadow-dropdown;

  &::after {
    @include absolute-left-top(0%, 0%);
    content: '';
    filter: blur(4px);
    z-index: -1;
    background-image: url('../img/background.webp');
    background-position: center;
    width: 100%;
    height: 100%;
  }

  .website_statistic_body {
    flex-grow: 1;
    padding: 3rem;
    max-width: 40rem;
          
    h2 {
      font-size: clamp($font-x-large, 3vw, $font-xxx-large);
      font-weight: bolder;
    }
      
    .website_statistic_description {
      font-size: $font-small;
      color: black;
      margin: 0.75rem 0rem;
    }
    
    .website_data_container {
      @include flex-alignitems-justifycontent(baseline, space-between);
              
      .website_data_count {
        font-size: $font-x-large;
        font-weight: bolder;
      }
        
      .website_data_name {
        font-size: $font-small;
        color: black;
      }
    }
  }
}