@import '@/scss/mixin';
@import '@/scss/variabel';

.wrapper_container {
  @include flex-column-alignitems-justifycontent(center);
  border-radius: $border-radius-img;
  box-shadow: $box-shadow-input-focus-hover;
  border: 1px solid silver;
  padding: 1rem;

  .wrapper_title {
    @include flex-alignitems-justifycontent(center);
    font-size: $font-x-large;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
  }
  
  a {
    border-radius: $border-radius-dropdown;
    transition: all $transition-time-very-fast;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding: 0.5rem 2rem;
    margin-top: 0.85rem;
     
    &:hover {
      transition: all $transition-time-very-fast;
      box-shadow: $box-shadow-loading;
      background-color: black;
      color: white;
    }
  }
}