@import '@/scss/mixin';
@import '@/scss/variabel';

@import '../media-query/filterContainerWrapper.media-query.scss';

.filter_container_wrapper {
  border-bottom: 1px solid $background-color-hover-list-item;
  padding: 1rem 0rem;

  &:last-child { border-bottom: none; }
  
  .filter_header_wrapper {
    @include flex-alignitems-justifycontent(center, space-between);
    padding: 0rem 1rem;
    margin-bottom: 0.5rem;

    h4 {
      font-size: $font-x-large;
      font-weight: bolder;
    }

    .filter_hidde_button {
      transform: rotate(90deg);
      border-radius: 50%;

      svg {
        width: $icon-small;
        height: $icon-small;
      }
    }
  }

  .filter_body {
    transition: all $transition-time-fast ease;
    overflow: hidden;
  }
}