@import '@/scss/mixin';
@import '@/scss/variabel';

.filter_container {
  box-shadow: $box-shadow-input-focus-hover;
  border: 1px solid $background-color-soft;
  border-radius: 8px;
  overflow: hidden;

  .filter_title {
    transition: all $transition-time-very-fast;
    font-size: $font-large;
    color: black;
    font-weight: bold;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
  }
  
  .filter_children {
    transition: all $transition-time-very-fast;
    height: 0;
    overflow: hidden;
  }
}