@import '@/scss/mixin';
@import '@/scss/variabel';

.loading_def_style {
  background-color: $background-color-hover-list-item;
  border-radius: $border-radius-img;
  box-shadow: $box-shadow-dropdown;
}

.loading_container {
  @include flex-alignitems-justifycontent();
  flex-grow: 1;
  gap: 1rem;
  padding: 2rem 0rem;

  .loading_filter_container {
    width: 10rem;
    height: 100%;
  }
}