@import '@/scss/variabel';
@import '@/scss/mixin';

.search_page_container {
  display: flex;
  height: 100%;
  gap: 1rem;
  padding: 1rem 0rem;
  position: relative;

  .search_not_founded {
    @include flex-alignitems-justifycontent(center, center);
    font-size: $font-x-large;
    color: $background-color-input-form;
    width: 100%;
    height: 100%;
  }

  .search_page_body { flex-grow: 1; }

  .search_filter_data {
    @include flex-alignitems-justifycontent(center, space-between);
    margin-top: 1rem;
  
    .search_curr_page_data { color: silver; margin-bottom: 1rem; }

    svg > path, rect { pointer-events: none }
  }
}