@import '@/scss/mixin';
@import '@/scss/variabel';

.price_range_container {
	padding: 0rem 1rem;
  position: relative;

	.price_range_input {
		appearance: none;
		width: 100%;

		&::-webkit-slider-runnable-track {
			border-radius: $border-radius-input-form;
			background: $background-color-hover-list-item;
			height: 0.5rem;
		}

		&::-webkit-slider-thumb {
			appearance: none;
			height: 16px;
			width: 16px;
			border-radius: 50%;
			background: black;
			margin-top: -4px;
      cursor: pointer;
		}
	}

  .price_min_max_container {
    @include flex-alignitems-justifycontent(center, space-between);

    p {
			font-size: $font-small;
      margin-top: 0.2rem;
    }
  }
}
