@import '@/scss/mixin';
@import '@/scss/variabel';

@media(width <= 515px) {
  .product_count_container {
    flex-direction: column !important;

    button, section, p {
      flex-grow: 1;
      width: 100% !important;
    }
  }
}