@import '@/scss/mixin';
@import '@/scss/variabel';

.default_style { @include default-loader-styles(); }

.product_loader_container {
  overflow: hidden;
  height: 16rem;

  .product_loader_img {
    @include default-loader-animation();
    width: 100%;
    height: 50%;
    background-color: rgba(192, 192, 192, 0.4);
  }

  .product_loader_text_container {
    @include flex-column-alignitems-justifycontent(); 
    gap: 0.4rem;
    padding: 0.5rem;
    
    .product_loader_text {
      @include default-loader-animation();
      border-radius: $border-radius-dropdown;
      background-color: rgba(192, 192, 192, 0.4);

      &:nth-child(1) { 
        height: 1.8rem;
        width: 85%; 
      }

      &:nth-child(2), &:nth-child(4) { 
        height: 1.25rem;
        width: 50%; 
      }
      
      &:nth-child(3) { 
        height: 1.25rem;
        width: 60%; 
      }
    }
  }
}

@keyframes skeleton-slide {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}