@import '@/scss/mixin';
@import '@/scss/variabel';

.form_container_wrapper {
  height: auto !important;
  padding: 0 !important;
  flex-grow: 0 !important;
  display: block !important;
  max-height: 30rem !important;
  overflow: auto;
}