@import '@/scss/mixin';
@import '@/scss/variabel';

.data_section_container {
  @include flex-alignitems-justifycontent(normal, space-between);
  border-bottom: 1px solid silver;
  width: 100%;
  padding-bottom: 0.5rem;
  text-wrap: balance;
  gap: 1rem;

  p:first-child {
    font-weight: bold;
  }
}