@import '@/scss/mixin';
@import '@/scss/variabel';

.data_body {
  @include flex-column-alignitems-justifycontent();
  border-radius: $border-radius-dropdown;
  overflow-y: auto;
  border: 1px solid $black-color-soft;
  box-shadow: $box-shadow-input;
  padding: 0.85rem;
  gap: 0.5rem;
  height: fit-content;
  max-height: 44.5rem;
  width: 52rem;
  flex-grow: 1;
  flex-shrink: 0;
}