@import '@/scss/variabel';
@import '@/scss/mixin';

.data_list_container {
  border-collapse: collapse;
	width: 100%;
  height: fit-content;

	th,
	td {
		padding: 1rem;
	}

  thead, td {
		border-bottom: 1px solid black;
  }

	tbody {

		tr:hover {
			background-color: $background-color-hover-list-item;
			cursor: pointer;
		}
	}
}
