@import '@/scss/mixin';
@import '@/scss/variabel';

.section_item {
  @include flex-alignitems-justifycontent();
  transition: all $transition-time-very-fast;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;

  img {
    border-radius: $border-radius-dropdown;
  }

  &:hover {
    transition: all $transition-time-very-fast;
    background-color: rgba(0, 128, 0, 0.1);
  }
  
  h4 {
    font-size: $font-medium;
    font-weight: bold;
  }

  section {
    @include flex-alignitems-justifycontent(center, space-between);      
  }
}

.section_item_active {
  background-color: rgba(0, 128, 0, 0.1);

  &:hover {
    background-color: rgba(255, 0, 0, 0.1);
  }
}