@import '@/scss/mixin';
@import '@/scss/variabel';

.file_input_container {
	display: flex;
	flex-wrap: wrap;
	border-radius: $border-radius-dropdown;
	box-shadow: $box-shadow-input;
	transition: all $transition-time-very-fast;
	border: 1px solid $black-color-soft;
	min-height: 8rem;
	max-height: 20rem;
	min-width: 8rem;
	max-width: calc(9.29rem * 4);
	overflow: auto;
	font-size: 0;
	cursor: pointer;

	&:hover {
		border: 1px solid rgb(151, 151, 151);
		transition: all $transition-time-fast ease;
		box-shadow: $box-shadow-input-focus-hover;

		.file_input_label {
			color: rgb(151, 151, 151);
		}
	}

	.file_input_label {
		@include flex-alignitems-justifycontent(center, center);
		transition: all $transition-time-very-fast;
		color: $black-color-soft;
		font-size: $font-small;
		padding: 0rem 1rem;
		gap: 0.75rem;
	}

	.file_input_img_peview {
		position: relative;
		height: 8rem;
		width: 9rem !important;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.file_input_remove_button {
		@include absolute-left-top(85%, 15%);
		@include flex-alignitems-justifycontent(center, center);
		transition: all $transition-time-very-fast;
		background-color: rgba(174, 0, 0, 0.5);
		color: white;
		padding: 0.35rem;
		border-radius: 50%;
		transform: translate(-50%, -50%);

		&:hover {
			transition: all $transition-time-very-fast;
			background-color: rgba(174, 0, 0, 0.9);
		}

		svg {
			width: $icon-small;
			height: $icon-small;
		}
	}
}