@import '@/scss/mixin';
@import '@/scss/variabel';

.loading_def_style {
  background-color: $background-color-hover-list-item;
  border-radius: $border-radius-img;
  box-shadow: $box-shadow-dropdown;
}

.loading_container {
  @include flex-column-alignitems-justifycontent(center);

  .loading_avatar {
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
  }

  .loading_name_container {
    @include flex-column-alignitems-justifycontent();
    margin-top: 1rem;
    gap: 1rem;
  
    .loading_name_body {
      @include flex-alignitems-justifycontent();
      gap: 1rem;
    }
  }
}