@import '@/scss/mixin';
@import '@/scss/variabel';

.text_input_container {
  @include flex-column-alignitems-justifycontent();
  width: 100%;

  .text_input_input {
    border-radius: $border-radius-link;
    transition: all $transition-time-fast ease;
    box-shadow: $box-shadow-input;
    border: 1px solid black;
    flex-grow: 0;
    width: 100%;
    padding: 0.7rem;
  
    &:hover {
      transition: all $transition-time-fast ease;
      box-shadow: $box-shadow-input-focus-hover;
    }
  }

  .text_input_error {
    border: 1px solid #500;
    box-shadow: rgba(85, 0, 0, 0.6) 1.95px 1.95px 2.6px;

    &:hover {
      transition: all $transition-time-fast;
      box-shadow: #500 1.95px 1.95px 2.6px;
    }
  }
  
  .text_input_error_message {
    font-size: $font-small;
    color: $font-color-error;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-weight: bolder;
    margin-top: 0.25rem;
    padding: 0.25rem;
  }
}
