@import '@/scss/mixin';
@import '@/scss/variabel';

.checkbox_container {
  @include flex-alignitems-justifycontent(center, space-between);
  font-size: 0.9rem;
  color: rgba(151, 151, 151);
  width: 100%;
  gap: 0.35rem;
  cursor: pointer;

  .checkbox_checkmark {
    box-shadow: $box-shadow-input;
    transition: all $transition-time-fast;
    position: relative;
    border-radius: 4px;
    height: 1.2rem;
    width: 1.2rem;
    border: 1px solid $black-color-soft;
  }

  &:hover > .checkbox_checkmark {
    border: 1px solid rgb(151, 151, 151);
    transition: all $transition-time-fast ease;
    box-shadow: $box-shadow-input-focus-hover;  
  }

  input:checked ~ .checkbox_checkmark::after {
    content: '';
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 75%;
    height: 75%;
  }
}