@import '@/scss/variabel';
@import '@/scss/mixin';

.header_container {
	@include flex-column-alignitems-justifycontent();
	box-shadow: $box-shadow-input;
	border-bottom: 1px solid $black-color-soft;
	padding: 0rem;
	background-color: white;
	z-index: 2;
	
	.header_body {
		@include flex-alignitems-justifycontent(center, space-between);
		gap: 1rem;
		padding: 0rem 1rem;

		@media(width <= 530px) {
			padding: 0.5rem 3rem;
		}
	}

	.header_new_user_action {
		@include flex-alignitems-justifycontent(center, center);
		font-size: $font-small;
		border-top: 1px solid $black-color-soft;
		gap: 0.5rem;
		height: 2.5rem;
	}
	
	a {
		h1 {
			font-size: $font-xx-large; 
			font-weight: bolder; 
		}

		@media(width <= 530px) {
			width: 100%;
			text-align: center;
		}
	}
		
	.header_nav_menu_container {
		@include flex-alignitems-justifycontent(center);
		gap: 0.5rem;

		@media(width <= 800px) {
			justify-content: center;
		}

		@media(width <= 530px) {
			display: none;
		}
	}
}