@import '@/scss/variabel';
@import '@/scss/mixin';

.header_container {
	@include flex-alignitems-justifycontent(center, space-between);
	position: fixed;
	gap: 1rem;
	box-shadow: $box-shadow-input;
	border-bottom: 1px solid $black-color-soft;
	background-color: white;
	z-index: 2;

	@media(width <= 530px) {
		padding: 1rem 3rem;
	}
	
	a {
		h1 {
			font-size: $font-xx-large; 
			font-weight: bolder; 
		}

		@media(width <= 530px) {
			width: 100%;
			text-align: center;
		}
	}
		
	.header_nav_menu_container {
		@include flex-alignitems-justifycontent(center);
		gap: 0.5rem;

		@media(width <= 800px) {
			justify-content: center;
		}

		@media(width <= 530px) {
			display: none;
		}
	}
}