@import '@/scss/variabel';
@import '@/scss/mixin';

@import './media-query/header.media-query.scss';

.header_container {
	@include flex-alignitems-justifycontent(center, space-between);
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: rgba(0, 0, 0, 0.875);
	color: white;
	fill: white;
	
	.header_website_label {
		@include flex-alignitems-justifycontent(center);
	
		.header_website_name {
			color: white;

			h1 { font-size: $font-xx-large; font-weight: bolder; }
		}
	}

	.header_nav_menu_container {
		@include flex-alignitems-justifycontent(center);
		gap: 1rem;
		
		p {
			font-size: $font-medium;
			color: white;
		}

		.header_dropdown_button {
			@include flex-alignitems-justifycontent(center);
			position: relative;
			gap: 0.5rem;
			color: black !important;
			fill: black;

			svg {
				width: $icon-small;
				height: $icon-small;
				transition: all $transition-time-very-fast;
				fill: white;
				margin-top: 0.23rem;
				transform: rotate(-90deg);
			}

			&::before {
				@include absolute-left-top(0%, 100%);
				content: '';
				width: 100%;
				height: 0.9rem;
			}

			&:hover > svg {
				transition: all $transition-time-very-fast;
				transform: rotate(0deg);
			}

			&:hover > .header_dropdown_list {
				transition: all $transition-time-fast;
				height: calc((3 * 37px) + 0.65rem);
			}

			.header_dropdown_list {
				@include absolute-left-top(50%, 175%);
				border-radius: $border-radius-dropdown;
				box-shadow: $box-shadow-dropdown;
				transform: $translate-horizontal-midlle;
				transition: all $transition-time-very-fast;
				z-index: 2;
				overflow: hidden;
				background-color: white;
				height: 0px;

				> li {
					display: flex;
					gap: 0.5rem;
					transition: all $transition-time-very-fast;
					padding: 0.65rem 1.7rem;

					> p { color: black; }

					&:hover {
						transition: all $transition-time-very-fast;
						background-color: $background-color-hover-list-item;
					}
				}
			}
		}
	}

	.header_user_action_container {
		@include flex-alignitems-justifycontent(center);
		gap: 1rem;
		margin-left: 0.9rem;

		.header_user_avatar {
			width: $icon-xx-large;
			height: $icon-xx-large;
			object-fit: cover;
			border-radius: 50%;
		}

		a {
			position: relative;

			p {
				@include absolute-left-top(-35%, -20%);
				z-index: 2;
				background-color: black;
				padding: 0.35rem 0.3rem;				
				font-size: $font-x-small;
				border-radius: 50%;
				color: white;
			}
		}

		svg {
			height: $icon-x-large;
			width: $icon-x-large;
			fill: white;
		}
	}
}