@import '@/scss/mixin';
@import '@/scss/variabel';

@media (width <= 590px) {
	.website_statistic_container { padding: 0 !important; }
}

@media (width <= 480px) {
	.website_statistic_body { border-radius: 0px !important; }
}

@media (width <= 430px) {
	.website_statistic_body {
		width: 100% !important;
		padding: 1rem !important;
	}
}