@import '@/scss/mixin';
@import '@/scss/variabel';

.help_container {
  flex-direction: row;
  align-items: center; 
  justify-content: center; 
  gap: 1rem;
  padding: 0.85rem; 

  @media(width <= 670px) {
    flex-direction: column;

    > section {
      width: 100%;
    }
  }
}