@import '@/scss/mixin';
@import '@/scss/variabel';

@import './media-query/formWrapper.media-query.scss';

.form_container {
	@include flex-column-alignitems-justifycontent(center, center);
	flex-grow: 1;
	padding: 1rem;
	background-color: white;
	height: 100%;

	.form_header {
		@include flex-alignitems-justifycontent(normal, center);
		color: black;
		font-size: $font-x-large;
		margin-bottom: 1rem;
	}

	.form_inputs {
		@include flex-column-alignitems-justifycontent(center);
		gap: 1rem;

		div {
			width: 100%;
		}
	}

	.form_server_error {
		font-size: $font-medium;
		color: $font-color-error;
		width: 100%;
		font-weight: bolder;
		text-align: center;
	}

	.form_submit_container {
		@include flex-alignitems-justifycontent(center, center);
		gap: 1rem;

		button {
			border-radius: $border-radius-img;
			font-size: $font-medium;
			transition: all $transition-time-very-fast;
			gap: 0.5rem;
			padding: 0.75rem 2rem;
			border: 1px solid transparent;
			color: white;
			background-color: black;

			&:hover {
				transition: all $transition-time-very-fast;
				box-shadow: $box-shadow-input;
				border: 1px solid rgb(151, 151, 151);
				color: rgb(151, 151, 151);
				background-color: white;
			}
		}
	}

	.form_account_link {
		color: $font-color-link;
		text-align: center;
	}
}