@import './variabel';

@mixin flex-alignitems-justifycontent($align-items: normal, $justify-content: normal) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin flex-column-alignitems-justifycontent($align-items: normal, $justify-content: normal) {
  display: flex;
  flex-direction: column;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin absolute-left-top($left: 0%, $top: 0%) {
  position: absolute;
  left: $left;
  top: $top;
}

@mixin text-overflow-ellipsis($width: 100%) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: $width;
}

@mixin default-loader-styles() {
  border-radius: $border-radius-img;
  background-color: $background-color-input-form;
}

@mixin default-loader-animation() {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    animation: skeleton-slide 1s infinite;
    background: linear-gradient(90deg, transparent 15%, rgba(250, 250, 250, 0.5) 60%, transparent 85%);
    position: absolute;
    left: -10%;
    height: 100%;
    width: 100%;
  }
}