@import './reset/default';
@import './reset/input';

@import './mixin';

#root {
	@include flex-column-alignitems-justifycontent();
	min-height: 100%;
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background: $background-color-hover-list-item;
}

::-webkit-scrollbar-thumb {
	background: rgba(131, 131, 131, 0.4);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(131, 131, 131, 0.6);
	cursor: pointer;
}
