$font-xx-small: 0.5rem;
$font-x-small: 0.625rem;
$font-small: 0.81rem;
$font-medium: 1rem;
$font-large: 1.125rem;
$font-x-large: 1.5rem;
$font-xx-large: 2rem;
$font-xxx-large: 3rem;

$font-color-half-black: rgba(0, 0, 0, 0.6);

$icon-xx-small: 0.5rem;
$icon-x-small: 0.625rem;
$icon-small: 0.81rem;
$icon-medium: 1rem;
$icon-large: 1.125rem;
$icon-x-large: 1.5rem;
$icon-xx-large: 2rem;

$icon-star-orange-color: #FFC633;

$font-color-error: #500;
$font-color-link: rgb(89, 89, 255);
$background-color-soft: rgba(0, 0, 0, 0.1); 

$transition-time-very-fast: 0.15s;
$transition-time-fast: 0.5s;
$transition-time-slow: 1s;
$transition-time-very-slow: 1.5s;

$border-radius-dropdown: 5px;
$border-radius-link: 5px;
$border-radius-input-form: 15px;
$border-radius-img: 10px;

$box-shadow-dropdown: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$box-shadow-input: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$box-shadow-input-focus-hover: rgba(0, 0, 0, 0.4) 1.95px 1.95px 2.6px;
$box-shadow-loading: rgba(0, 0, 0, 0.4) 3.95px 3.95px 5.6px;

$translate-horizontal-midlle: translate(-50%, 0);
$translate-horizontal-vertical-midlle: translate(-50%, -50%);

$background-color-hover-list-item: rgba(0, 0, 0, 0.1);

$background-color-input-form: rgba(192, 192, 192, 0.5);
$background-color-error: #ff333371;