@import '@/scss/mixin';
@import '@/scss/variabel';

@media(width <= 1110px) {
  .search_form_container {
    width: 15rem;
  }
}

@media(width <=985) {
  .search_form_container {
    width: 10rem;
  }
}

@media(width <= 830px) {
  .search_form_container {
    width: 100%;
  }
}