@import '@/scss/variabel';
@import '@/scss/mixin';

.dropdown_title {
  font-size: $font-medium;
	transition: all $transition-time-very-fast;
	position: relative;
	padding: 1.5rem;
	cursor: pointer;

	&:hover {
		transition: all $transition-time-very-fast;
		background-color: black;
		color: white;
	}

	&:hover .dropdown_list_container {
		display: block;
	}
}

.dropdown_list_container {
	@include absolute-left-top(50%, 100.5%);
	@include flex-column-alignitems-justifycontent();
	box-shadow: $box-shadow-dropdown;
	transition: all $transition-time-very-fast;
	overflow: hidden;
	display: none;
	transform: translate(-50%, 0%);
	z-index: 10;
	background-color: white;
	width: 180%;

	li {		
		position: relative;
		cursor: pointer;

		&::after {
			content: '';
			@include absolute-left-top();
			z-index: 4;
			background-color: black;
			width: 0%;
			height: 100%;
		}

		&:hover {
			a, div, svg {
				transition: all $transition-time-very-fast;
				color: white;
			}

			&::after {
				transition: all $transition-time-fast;
				width: 110%;
			}
		}

		> a, div { 
			transition: all $transition-time-very-fast;
			color: black; 
			gap: 0.5rem;
			padding: 1.2rem 0rem; 
		}

		section {
			@include absolute-left-top(50%, 50%);
			@include flex-alignitems-justifycontent(center);
			transform: translate(-50%, -50%);
			gap: 0.5rem;
			padding: 0rem 1.5rem;
			width: 110%;
			z-index: 5;
		}

		svg {
			width: $icon-medium;
			height: $icon-medium;
		}
	}
}
