@import '@/scss/variabel';
@import '@/scss/mixin';

.dropdown_title {
  font-size: $font-medium;
	transition: all $transition-time-very-fast;
	position: relative;
	padding: 1.5rem;
	color: white;
	width: 8rem;
	cursor: pointer;

	&:hover {
		background-color: rgba(0, 0, 0, 0.3);
		transition: all $transition-time-very-fast;
	}

	&:hover .dropdown_list_container {
		display: block;
	}
}

.dropdown_list_container {
	@include absolute-left-top(50%, 100%);
	@include flex-column-alignitems-justifycontent();
	transition: all $transition-time-very-fast;
	box-shadow: $box-shadow-dropdown;
	overflow: hidden;
	display: none;
	transform: translate(-50%, 0%);
	z-index: 10;
	background-color: white;
	width: 150%;

	li {		
		> a, p { 
			@include flex-alignitems-justifycontent();
			color: black !important; 
			gap: 0.5rem;
			padding: 0.7rem 0.9rem; 
		}

		svg {
			width: $icon-medium;
			height: $icon-medium;
		}

		&:hover {
			background-color: $background-color-input-form;
			cursor: pointer;
		}
	}
}
