@import '@/scss/variabel';
@import '@/scss/mixin';

.selection_item {
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
  font-size: 0.85rem;
  padding: 0.75rem 1rem;
  cursor: pointer;

  &:hover {
    transition: all $transition-time-very-fast;
    background-color: rgba(0, 128, 0, 0.1);
  }
}  

.selection_active {
  background-color: rgba(0, 128, 0, 0.1);

  &:hover {
    background-color: rgba(255, 0, 0, 0.1);
  }
}
