@import '@/scss/variabel';
@import '@/scss/mixin';

.select_input_container {
  width: 100%;

  .select_select {
    border-radius: $border-radius-link;
    transition: all $transition-time-fast ease;
    box-shadow: $box-shadow-input;
    border: 1px solid black;
    max-height: 9rem;
    width: 100%;
    overflow: auto;
  
    &:hover, &:focus {
      outline: none;
      transition: all $transition-time-fast ease;
      box-shadow: $box-shadow-input-focus-hover;
    }
  }

  .select_option {
    font-size: $font-small;
    border-bottom: 1px solid $background-color-hover-list-item;
    transition: all $transition-time-very-fast ease;
    padding: 0.7rem;
    cursor: pointer;

    &:last-child {
      border-bottom: none;      
    }
  }
}