@import '@/scss/variabel';
@import '@/scss/mixin';


.select_container {
  border-radius: $border-radius-link;
  transition: all $transition-time-fast ease;
  box-shadow: $box-shadow-input;
  overflow: hidden;
  border: 1px solid black;
  width: 100%;
  height: 100%;

  .selected_selected {
    transition: all $transition-time-very-fast;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;

    &:hover {
      transition: all $transition-time-very-fast;
      background-color: rgba(0, 0, 0, 0.85);
    }
  }

  ul {
    @include flex-column-alignitems-justifycontent();
    overflow: hidden;
    overflow-y: auto;
    max-height: 8rem;
  }

  li {
    border-bottom: 1px solid rgba(192, 192, 192, 0.4);
    font-size: 0.85rem;
    padding: 0.75rem 1rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(192, 192, 192, 0.3);
    }
  }

  .select_empty {
    color: rgb(163, 163, 163);

    &:hover {
      background-color: transparent;
    }
  }

  input {
    display: none;
  }
}