@import '@/scss/variabel';
@import '@/scss/mixin';

@media(width <= 760px) {
  .cart_delete_product { top: 70% !important; left: 0 !important; }
}

@media(width <= 540px) {
  .cart_product_icon { display: none; }
}

@media(width <=380px) {
  .cart_content_item { flex-direction: column; gap: 0.5rem; }
  
  .cart_delete_product { top: 0% !important; left: 90% !important; }
}