@media(width <= 800px) {
  .cart_container { 
    flex-direction: column !important;
    padding: 1rem !important; 
    align-items: flex-start !important;

    div:first-child {
      flex-grow: 0;
    }

    aside {
      width: 100%;
    }
  }
}